<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <h2>学校名称：{{name}}</h2>
        <h2>学校地址：{{address}}</h2>
        <hr/>
        <button @click="addSex">添加一个性别</button>
        <h2>名称：{{student.name}}</h2>
        <h2 v-if="student.sex">性别：{{student.sex}}</h2>
        <h2>年龄：真实{{student.age.rAge}},对外{{student.age.sAge}}</h2>
        <h2>朋友们</h2>
        <ul>
            <li v-for="(f,index) in student.friends" :key="index">
            {{f.name}}--{{f.age}}
            </li>
        </ul>
        <h2>爱好</h2>
        <ul>
            <li v-for="(h,index) in student.hobby" :key="index">
            {{h}}
            </li>
        </ul>
    </div>
</body>
<script type="text/javascript">
    Vue.config.productionTip = false 
    const vm = new Vue({
        el:'#root',
        data:{
            name:'中央党校',
            address:'北京',
            student:{
                name:'tom',
                age:{
                    rAge:40,
                    sAge:29,
                },
                hobby:['钢枪','摸金','学习'],//这里详述了为什么Vue中数组的修改无法直接通过索引增删改查实现，因为事先准备了数组的特用增删改查办法才能被监测到，而非直接调用索引,但可以使用Vue公用的Set完成也可
                friends:[
                    {name:'jerry',age:35},
                    {name:'tonny',age:25}
                ]
            }
        },
        methods:{
            addSex(){
                // Vue.set(this.student,'sex','男')
                this.$set(this.student,'sex','男')
            }
        }
    })
</script>
</html>